<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scan QR Code</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

        * {
            font-family: Montserrat;
        }

        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .container {
            text-align: center;
        }

        img {
            max-width: 100%; 
            height: auto;
            margin-top: 20px;
        }

        p {
            margin-top: 10px;
        }

        button {
            margin-top: 10px; 
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="<%= src %>" alt="QR Code Image">
        <p>Scan the QR Code to access data!</p>
        <a href="/"><button type="button" class="btn btn-primary">Back</button></a>

        <button onclick="printQRCode()" class="btn btn-secondary">Print QR Code</button>

        <script>
            function printQRCode() {
                window.print();
            }
        </script>
    </div>
</body>
</html>
